body{
    background-image:url("bg_color.jpg");
    background-size: cover;
}

#h1{
    /* text-align: center; */
    font-size:xx-large;
    font-style: oblique;
    color: rgb(29, 250, 0);
    margin-top:10px;
    margin-left:550px;
    background-color:rgba(27, 65, 170, 0.733);
    width:400px;
}

#div_1{
    border:5px rgb(145, 255, 0) solid;
    float:left;
    height:50%;
    width:50%;
    padding:3%;
    text-align: center;
    margin-left:10px;
    background-image:url("famliy.png");
    background-size: cover;
}

#div_2{
    border:5px red solid;
    float:right;
    height:415px;
    width:710px;
    margin-right:10px;
}

#div_cam{
    height: 300px;
    width: 300px;
    border:5px rgb(30, 255, 0) solid;
    margin-left:10px;
    margin-top:20px;
}

#div_cap{
    border:5px yellow solid;
    float: right;
    height: 300px;
    width: 300px;
    margin-right:10px;
    margin-top:-315px;
}

#div_3{
    border:3px black solid;
    height:10%;
    width:50%;
    margin-left:25%;
    margin-top:30%;
    text-align: center;
    padding:3px;
}